.boxDiv {

         background-color: #f8f9fc;
	     padding: 20px;
	     border-radius: 10px;
	     box-sizing: border-box;
	     padding-bottom: 20px;
	     padding-top: 20px
	    }

   .box {
	     padding-left: 80px;
	     padding-right: 80px
        }

.section1{
	       background-image: url(http://landrick.react.themesbrand.com/static/media/bg.a1d47780.png); 
	       /*background-size: cover ;*/
	       background-position: center;
   	       background-color: #2f56d4;
   	       padding-top: 170px;
   	       padding-bottom: 170px
   	     }   

	.height-50-px{
			height: 50px; 
		}

.boxDiv:hover{ background-color: #007bff;
	           color: white

}


.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  /*width: 150px;*/
}


.text{
	  text-align: center;
	  color: white;
	  font-size: 45px;
	  
}

.heading-text1{
	  text-align:left;

	  font-size: 30px;
	  padding-top: 80px;
	  
}
.heading-text2{
	  text-align:left;

	  font-size: 30px;
	  
	  
}
.padding-20{
	  padding: 20px

}

.text1{
	   text-align: center;
	   color: #99abeb;
	   font-size: 18px;
	   padding-bottom: 10px;
	   margin-bottom: 50px

}

.div1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title{
	letter-spacing: 1px;
	text-align: center;
	font-size: 30px;
	margin-bottom: 24px

}

.parah{
	text-align: center;
	color: #8491a6;
	margin-right: 300px;
	margin-left: 300px;
	margin-bottom: 20PX
}

.box1{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f8f9fc ;
    box-shadow: 0 10px 25px rgba(60,72,88,.15)!important;


}

.avtar{
	height: 65px;
	width: 65px;
}

.avtar1{
	height: 65px;
	width: 65px;
	
	border-radius: 50%;
}
 
 .avtar3{
 	width: 445px;
 	height: 448px
 }


.show1{
	box-shadow: 0 10px 25px rgba(60,72,88,.15)!important;
	padding: 30px;
	margin-right: 80px;
    margin-left: 80px;
    font-size: 600;

}

	
   .show {
    text-align: center;
    font-weight: 600;

}


.estyle{
		 background-image: url(http://landrick.react.themesbrand.com/static/media/bg.a1d47780.png); 
	    background-color: white;
	    border: 1px solid;
	 
}

.head1{
	font-size: 30px;
	margin-bottom: 24px;
}

.head2{
	font-size: 16px sans-serif;
	color:  #8794a8;
	margin: 0px 0px 16px;
}

.head3{font-size: 16px sans-serif;
	color:  #8794a8;
	margin: 0px 0px 7px;

}
.calvin{margin: 16px 0px;

}

.butn{
	background-color: #2f55d4
}

.butn:hover{background-color: #1d3892

}
