.boxDiv {

         background-color: #f8f9fc;
         color: #8492a6;
	     padding: 20px;
	     border-radius: 10px;
	     box-sizing: border-box;
	     padding-bottom: 20px;
	     padding-top: 20px;
	     line-height: 24px;
	     transition: all 0.5s ease-in-out;
	     /*font-family: sans-serif;*/


	    }

   .box {
	     padding-left: 80px;
	     padding-right: 80px
        }

.section1{
	       background-image: url(http://landrick.react.themesbrand.com/static/media/bg.a1d47780.png); 
	       /*background-size: cover ;*/
	       background-position: center;
   	       background-color: #2f56d4;
   	       padding-top: 170px;
   	       padding-bottom: 170px;

   	     }   

	.height-50-px{
			height: 50px; 
		}

.boxDiv:hover{ background-color: #2f55d4;
	           color: #8492a6;
	           transition: all 0.5s ease-in-out;


}

.boxDiv:hover > i {
	          color: #8492a6;

}

.boxDiv:hover > h5 {
	          color: #ffffff;
	          
}



.icon-size{
	font-size: 40px

}

.icon-size i:hover{
	background-color: #007bff
}


.section-box{
	padding-top: 100px; 
	padding-bottom: 50px; 
	margin-right: 50px;
	margin-left: 50px

}
.s-icon{
	font-size: 50px; color: #2f56d4; margin-bottom: 8px
}

.s-icon2{
	color: black; margin-top: 8px; margin-bottom: 8px
}

.boxDiv:hover > p1 h5 .s-icon2{
	color: #ffffff !important;
}

/* .h5:hover{ color: white

 }*/
/*.fa-umbrella{
	color: blue;
}
.fa-user{
	color: blue
}
 
 .fa-money{
 	color: blue
 }
*/
/*  .fa{
  	color: blue
  }*/

/*.img {
	height: 24px
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  /*width: 150px;
}*/
/*#topnav.navigation-menu{
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
}
*/
/*.logo {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 68px;
    padding: 3px 0px;
}*/

.text{
	  text-align: center;
	  color: white;
	  font-size: 45px;
	  
}

.heading-text1{
	  text-align:left;

	  font-size: 30px;
	  padding-top: 80px;
	  
}
.heading-text2{
	  text-align:left;

	  font-size: 30px;
	  
	  
}
.padding-20{
	  padding: 20px

}

.text1{
	   text-align: center;
	   color: #99abeb;
	   font-size: 18px;
	   padding-bottom: 10px;
	   margin-bottom: 50px

}

.div1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title{
	letter-spacing: 1px;
	text-align: center;
	font-size: 30px;
	margin-bottom: 24px

}

.parah{
	text-align: center;
	color: #8491a6;
	margin-right: 300px;
	margin-left: 300px;
	margin-bottom: 20PX
}

.box1{
    padding: 24px;
    margin-top: 15px;
    margin-bottom: 15px; 
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(60,72,88,.15)!important;
    transition: all 0.3s ease-in-out;

    

}

.box1:hover {
	 transform: scale(1.05);

	
	
}

/*.box1 span{
	margin: 5px;

}*/

.avtar{
	height: 65px;
	width: 65px;
}

.avtar1{
	height: 65px;
	width: 65px;
	
	border-radius: 50%;
}
 
 .avtar3{
 	width: 445px;
 	height: 448px
 }


.show1{
	box-shadow: 0 10px 25px rgba(60,72,88,.15)!important;
	padding: 30px;
	margin-right: 80px;
    margin-left: 80px;
    

}

	
   .show {
    text-align: center;
    

}


.estyle{
		 background-image: url(http://landrick.react.themesbrand.com/static/media/bg.a1d47780.png); 
	    background-color: white;
	    border: 1px solid;
	 
}

.head1{
	
	margin-bottom: 24px;
}

.head2{
	font-size: 16px sans-serif;
	color:  #8794a8;
	margin: 0px 0px 16px;
}

.head3{font-size: 16px sans-serif;
	color:  #8794a8;
	margin: 0px 0px 7px;

}
.calvin{margin: 16px 0px;

}

.butn{
	background-color: #2f55d4
}

.butn:hover{background-color: #1d3892

}

#topnav {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1030;
    background-color: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.5s ease 0s;
}

.nav-link:hover{ color: pink
	       

}

.nav-link{ color: #99abeb

}


.stylo1{ background-color: #202942;
	     padding: 60px 0px;
	     position: relative;
	     color: #adb5bd

}

.stylo2{ font-size: 25px;
	     margin-bottom: 10px;
	     color: white;

}

.test4{ text-align: left;


}
.stylo3{padding: 30px 0;
	border-top: 1px solid #3d4349;


}

.classForContainer{position: fixed;
    right: -100px;
    bottom: 30px;
    transition: right .5s;
    cursor: pointer;
    background-color: rgba(47,85,212,.2);
    padding: 5px;
    align-items: center;
    border-radius: 5px!important;
}

.classForTransition {
    right: 30px;
}

.icon {
    background: linear-gradient(45deg,transparent,rgba(47,85,212,.15));
}
     
